@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #1e1f23;
    --font-color-primary: #A6A9AA;
    --font-color-secondary: #c99d7f;
    --border-color: #6b6f72;
    --padding-small: 1rem;
    --padding-medium: 2rem;
    --padding-large: 3rem;
    --padding-xl: 4rem;
}

body {
    font-family: "Montserrat", serif;   
    background-color: var(--bg-color);
    height: 100vh;
    
}

h1 {
    font-family: "EB Garamond", serif;
    color: var(--font-color-primary);
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    border: 1px solid var(--border-color);
    padding: var(--padding-small ) var(--padding-small) var(--padding-medium) var(--padding-small);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    width: 100%;
    margin: 0 auto;
    flex: 1;
    padding: .75rem;
    border: 1px solid var(--border-color);
    font-family: "Montserrat", serif;
    font-size: 1rem;
    background-color: var(--bg-color);  /* Kan detta vara ett transparent fält */
    color: var(--font-color-secondary);
}

input::placeholder{
    color: #c99d7f;
  }

select {
    width: 100%;
    margin: 0 auto;
    flex: 1;
    padding: .75rem;
    border: 1px solid var(--border-color);
    font-family: "Montserrat", serif;
    background-color: var(--bg-color); 
    font-size: 1rem;  
}

form #activityCategory {
    color: var(--font-color-secondary);
}

button {
    width: 100px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    background-color: var(--bg-color);   
    color: var(--font-color-secondary);
    font-weight: 600;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

input:checked + span{
    text-decoration: line-through;
} 

tr {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

td {
    font-family: "Montserrat", serif;
    padding:  .3rem .5rem;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color-primary);
}

.custom-select #categoryFilter {
    border: none;
    color: var(--font-color-primary);
    padding: .1rem;
}

.strike {
    text-decoration: line-through;
}

.checkmark {
    padding-right: .2rem;
}
